.app {
	text-align: center;
}

.app .light-theme {
	background-color: lightgray;
	color: black;
}

.app .dark-theme {
	background-color: #111111;
	color: #eeeeee;
}

.app .ocean-theme {
	background-color: blue;
	color: lightblue;
}