.card {
	width: 25%;
	display: grid;
	grid-template-columns: 50% 50%;
	border: 2px inset #000000;
}

.card h2 {
	grid-column: 1 / -1;
}

.card.Spring {
	background-color: green;
}

.card.Summer {
	background-color: yellow;
}

.card.Fall {
	background-color: red;
}

.card.Winter {
	background-color: blue;
}
