.tracker-options {
	width: 100%;
	display: grid;
	grid-template-columns: 20em 20em;
	grid-gap: 4em;
	justify-content: center;
}
.tracker-options button {
	padding: 1em;
	border-radius: 25%;
	border: 2px outset lightblue;
	background-color: black;
	color: lightblue;
	font-size: large;
	font-weight: bold;
}
.tracker-options button:hover {
	background-color: darkblue;
}
.tracker-options button:active {
	border-style: inset;
}