* {
	box-sizing: border-box;
}
body {
	margin: 0;
}

ul:not:.bulleted {
	list-style-type: none;
}

form label {
	display: grid;
	grid-template-columns: auto auto;
}
form label strong {
	text-align: right;
	padding-right: 1em;
}